<div class="text-center">
  <h1> List of Projects (Homeys)</h1>
  <p>Please click on a project below</p>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <% @homeys.order(:created_at).each do |homey| %>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> <%= homey.name %> </h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Creator: <%= homey.user.email %></li>
            <li>Status: <%= homey.status %></li>
            <% if homey.audits.present %>
              <li>Status last updated: <%= time_ago_in_words(homey.audits.last.created_at) %> ago</li>
            <% end %>
          </ul>
          <%= link_to "Visit project", homey_path(homey), class: "btn btn-lg btn-block btn-outline-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
